<%- include('common-header', title='Galaxies'); -%>

  <body>
    <div class="text-center">
      <p class="fs-5 p-3 fw-bold">Please Choose a Type of Nebula</p>
    </div>

    <div class="container">
      <div class="row text-center mx-5">

        <div class="col">
          <a href="#" class="btn btn-secondary">
            Reflection
          </a>
        </div>

        <div class="col">
          <a href="#" class="btn btn-secondary">
            Emission
          </a>
        </div>

        <div class="col">
          <a href="#" class="btn btn-secondary">
            Planetary
          </a>
        </div>

        <div class="col">
          <a href="#" class="btn btn-secondary">
            Supernova
          </a>
        </div>

        <div class="col">
          <a href="#" class="btn btn-secondary">
            Dark
          </a>
        </div>
        
      </div>
    </div>

    <div class="mt-5 text-center">
      <a href="/" class="btn btn-dark">
        Back To all categories
      </a>
    </div>

  </body>

<%- include('common-footer'); -%>
